.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__wEuAl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2YW8M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.freeBox__no4NW {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__gtQeY:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__rwnti:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kZ08 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__pewXk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vweM5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__i8FtC:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wMbdV:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 80px;
}
.button___2EeLb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wnZx2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ouBP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__bvlaI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__ez6Jk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
}
.freeBox__ez6Jk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-eRNxHqcEHlFY));
  width: calc(100% + var(--token-eRNxHqcEHlFY));
}
.freeBox__ez6Jk > :global(.__wab_flex-container) > *,
.freeBox__ez6Jk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ez6Jk > :global(.__wab_flex-container) > picture > img,
.freeBox__ez6Jk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-eRNxHqcEHlFY);
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xtjQq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__xfEa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xfEa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-eRNxHqcEHlFY));
  width: calc(100% + var(--token-eRNxHqcEHlFY));
}
.freeBox__xfEa > :global(.__wab_flex-container) > *,
.freeBox__xfEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfEa > :global(.__wab_flex-container) > picture > img,
.freeBox__xfEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-eRNxHqcEHlFY);
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___2Zpg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__perNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__itpFr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x3K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.button__dE1Cx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1KdFy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
