.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___4E9Mg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ttjxo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__zqEie {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uX3Y3 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__rlUEn {
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.freeBox__rlUEn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__rlUEn > :global(.__wab_flex-container) > *,
.freeBox__rlUEn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rlUEn > :global(.__wab_flex-container) > picture > img,
.freeBox__rlUEn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__sHlll {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sHlll > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sHlll > :global(.__wab_flex-container) > *,
.freeBox__sHlll > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sHlll > :global(.__wab_flex-container) > picture > img,
.freeBox__sHlll
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__mKf5E {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__mKf5E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mKf5E > :global(.__wab_flex-container) > *,
.freeBox__mKf5E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mKf5E > :global(.__wab_flex-container) > picture > img,
.freeBox__mKf5E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__oFqVa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  white-space: pre;
}
.text__v4Qcv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 22px;
  white-space: pre;
}
.freeBox__wCAat {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wCAat > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__wCAat > :global(.__wab_flex-container) > *,
.freeBox__wCAat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wCAat > :global(.__wab_flex-container) > picture > img,
.freeBox__wCAat
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__ouGg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__ouGg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ouGg > :global(.__wab_flex-container) > *,
.freeBox__ouGg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ouGg > :global(.__wab_flex-container) > picture > img,
.freeBox__ouGg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__lOn4T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  white-space: pre;
}
.text__p3Jr7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 22px;
  white-space: pre;
}
.freeBox__gxTws {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gxTws > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__gxTws > :global(.__wab_flex-container) > *,
.freeBox__gxTws > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gxTws > :global(.__wab_flex-container) > picture > img,
.freeBox__gxTws
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__o1Lj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__o1Lj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__o1Lj > :global(.__wab_flex-container) > *,
.freeBox__o1Lj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o1Lj > :global(.__wab_flex-container) > picture > img,
.freeBox__o1Lj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ycuib {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  white-space: pre;
}
.text___1E2Rq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 22px;
  white-space: pre;
}
.freeBox__yow9A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yow9A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__yow9A > :global(.__wab_flex-container) > *,
.freeBox__yow9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yow9A > :global(.__wab_flex-container) > picture > img,
.freeBox__yow9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__dgaFs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__dgaFs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__dgaFs > :global(.__wab_flex-container) > *,
.freeBox__dgaFs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dgaFs > :global(.__wab_flex-container) > picture > img,
.freeBox__dgaFs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__skmZc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  white-space: pre;
}
.text__u9HrT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 22px;
  white-space: pre;
}
.freeBox__nYc5P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nYc5P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__nYc5P > :global(.__wab_flex-container) > *,
.freeBox__nYc5P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nYc5P > :global(.__wab_flex-container) > picture > img,
.freeBox__nYc5P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__wt3Yl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__wt3Yl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__wt3Yl > :global(.__wab_flex-container) > *,
.freeBox__wt3Yl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wt3Yl > :global(.__wab_flex-container) > picture > img,
.freeBox__wt3Yl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___5Jpvz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  white-space: pre;
}
.text__ltQZh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 22px;
  white-space: pre;
}
.userTable:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.modalNewUser:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kr57G {
  position: relative;
  height: 1em;
}
.svg__lWyE {
  position: relative;
  height: 1em;
}
.h3__wtw2N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-dIj6x_B_2TOx);
  min-width: 0;
  padding: var(--token-5V0di9H3y1Yj);
}
.freeBox__gYAjW {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__gYAjW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-j1zXVe128qAC));
  height: calc(100% + var(--token-j1zXVe128qAC));
}
.freeBox__gYAjW > :global(.__wab_flex-container) > *,
.freeBox__gYAjW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gYAjW > :global(.__wab_flex-container) > picture > img,
.freeBox__gYAjW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-j1zXVe128qAC);
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.button__g1Qw5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__v2A2F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dAEgc {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__evIcm {
  position: relative;
  height: 1em;
}
.text__xc7L3 {
  padding-left: 0px;
}
.svg__eobA6 {
  position: relative;
  height: 1em;
}
.modalExistingUser:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button2__nX2E:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__jHeie {
  position: relative;
  height: 1em;
}
.svg__jCyWd {
  position: relative;
  height: 1em;
}
.h3__td01M {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-dIj6x_B_2TOx);
  min-width: 0;
  padding: var(--token-5V0di9H3y1Yj);
}
.freeBox___2XfRk {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___2XfRk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-j1zXVe128qAC));
  height: calc(100% + var(--token-j1zXVe128qAC));
}
.freeBox___2XfRk > :global(.__wab_flex-container) > *,
.freeBox___2XfRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2XfRk > :global(.__wab_flex-container) > picture > img,
.freeBox___2XfRk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-j1zXVe128qAC);
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1096px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  padding: 8px;
}
.formField__cO7Ez:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__qRlsG:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nUQtt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__x0Ws9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zJ2Oh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__iRhfm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__yNm:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__mHWmD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___159Py {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__jtUd3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__bkdfd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__lhNrJ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lSecm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ji0RX {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__axylz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__aBowU:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__n1DD1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__peNx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___5MiRr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__mArg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__bqeRn:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__la2T6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dWS2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mfd0 {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__n9Fxa {
  position: relative;
  height: 1em;
}
.text__lp3Dj {
  padding-left: 0px;
}
.svg__uJl8H {
  position: relative;
  height: 1em;
}
.button__itpFr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x3K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.button__dE1Cx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1KdFy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checkPrintifyId:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
