.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.text__m7Di {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
  display: none;
}
.table2:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.confirmSyncIndividual:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.freeBox__rRsjf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h4__hl18L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iVnnt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4___7B0Ge {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___4W95F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__tTaZp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hFeso {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  width: 100%;
  overflow: visible;
  max-width: 100%;
  object-fit: cover;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.printify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yNjkv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vgu2G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__i4InG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dw3Ou {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__fVgRj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-HyiizzCtnTod);
  color: var(--token-jgohepLVeKvh);
}
.text__kuaFc {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__lNqBg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-U2IgSncNyCpY);
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  display: none;
  padding: 16px;
}
.table3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tableHead {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: var(--token-g_VDjIuHq0U5);
  min-width: 0;
  padding: 0px;
  border: 1px solid var(--token-WxvvgatuPYoJ);
}
.freeBox___8IWq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text___0JAor {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__iXtHy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50px;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__rKpBh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__zBhm2 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  display: none;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__sx5Gz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__tNUsB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-0jflij2Drauk);
}
.text__bkEUo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__zl0Tr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-RvPI6LyeIPmd);
}
.text__y2KYv {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__o1NzA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-RvPI6LyeIPmd);
}
.text__mTknG {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__zkGng {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-Pxe4wDL2kJpb);
}
.text___8XVV {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.tableBody {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  border-top-color: #53535300;
  border-right-color: var(--token-WxvvgatuPYoJ);
  border-bottom-color: var(--token-WxvvgatuPYoJ);
  border-left-color: var(--token-WxvvgatuPYoJ);
  background: none;
  margin-bottom: 0px;
  min-width: 0;
  padding: 20px 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__hqbCc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  padding: 0px;
}
.validate {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.validate > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.validate > :global(.__wab_flex-container) > *,
.validate > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.validate > :global(.__wab_flex-container) > picture > img,
.validate
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.text__tZcmG {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: var(--token--ypw6enySR1T);
  text-align: center;
  min-width: 0;
}
.button___4FOfI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-sn6Zb6km7CqW);
  display: none;
}
.text__wlpnq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__xwTes {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: var(--token--ypw6enySR1T);
  text-align: center;
  min-width: 0;
}
.freeBox__nQzG2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50px;
  min-width: 0;
  padding: 8px;
}
.text___9Gujo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__haZbE {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  display: none;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__ky77 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__fEkM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.text__qbPpi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__aGkW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.text__vogdg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox___85SS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.text___7Dmd0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__bcWyu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 250px;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.button__eTYbK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-DxfYAkV7QVUJ);
  transition-property: background;
  transition-duration: 1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
}
.text__lsQmf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  min-width: 0;
}
.createSyncConditions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.updateVariable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.updateVariable2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__vLfA1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__mxh2W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.timer__qD6Ha:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.former:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__w3ISw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__uHbl9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__syJg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__tdowW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7HXnG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.loop {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loop2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.spacer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.closeLoading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__rvgD7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__pwj98 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.loadingScreen:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rX6SR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rX6SR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__rX6SR > :global(.__wab_flex-container) > *,
.freeBox__rX6SR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rX6SR > :global(.__wab_flex-container) > picture > img,
.freeBox__rX6SR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__wegv {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__wegv > picture > img {
  object-fit: cover;
}
.text__n0LG1 {
  display: none;
}
.button__dRhxo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__guDsi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__pGh0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token--ypw6enySR1T);
}
.text__nw2CT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.printful:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yecY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vI0J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.printfulSyncall:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c5B7W {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.table4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tableHead2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: var(--token-g_VDjIuHq0U5);
  min-width: 0;
  padding: 0px;
  border: 1px solid var(--token-WxvvgatuPYoJ);
}
.freeBox__a2ImK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__qnMid {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__yqeFc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50px;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__tiLIb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__bsk2W {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  display: none;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__mv9Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__r7Ala {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-0jflij2Drauk);
}
.text__sx1Bl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__a7Wur {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-RvPI6LyeIPmd);
}
.text__msXyb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__ewWuS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
  border-right: 1px solid var(--token-Pxe4wDL2kJpb);
}
.text__v6YJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.tableBody2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  border-top-color: #53535300;
  border-right-color: var(--token-WxvvgatuPYoJ);
  border-bottom-color: var(--token-WxvvgatuPYoJ);
  border-left-color: var(--token-WxvvgatuPYoJ);
  background: none;
  margin-bottom: 0px;
  min-width: 0;
  padding: 20px 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__vXgJg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  padding: 0px;
}
.validate2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.validate2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.validate2 > :global(.__wab_flex-container) > *,
.validate2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.validate2 > :global(.__wab_flex-container) > picture > img,
.validate2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.text__qjgu4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: var(--token--ypw6enySR1T);
  text-align: center;
  min-width: 0;
}
.button__ix0G8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-sn6Zb6km7CqW);
  display: none;
}
.text___0FLps {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__hdIur {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50px;
  min-width: 0;
  padding: 8px;
}
.text__zCn3U {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox___8TCB {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 0;
  display: none;
  padding: 8px;
  border-right: 1px solid var(--token-WxvvgatuPYoJ);
}
.text__jexBh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__vhRu9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.text__oor3M {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox___8BrCv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.text__rpBjY {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.freeBox__kdlvw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 250px;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 0;
}
.button__qzwv9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-DxfYAkV7QVUJ);
  transition-property: background;
  transition-duration: 1s;
  display: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
}
.text__otRUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  min-width: 0;
}
.updateVariable3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.updateVariable4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__sbQdC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__yd522 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.timer__fblWj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.former2:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__p5MC3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__gXqB:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nh39X:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__a40Zc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8Kmsi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.loop3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loop4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checker3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.spacer2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.closeLoading2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__ysk7G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__y2F0X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.loadingScreen2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sQxh8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sQxh8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sQxh8 > :global(.__wab_flex-container) > *,
.freeBox__sQxh8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sQxh8 > :global(.__wab_flex-container) > picture > img,
.freeBox__sQxh8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__eK4Nq {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__eK4Nq > picture > img {
  object-fit: cover;
}
.text__u2Opk {
  display: none;
}
.button__xr4Zs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__aVcbn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__viN8K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token--ypw6enySR1T);
}
.text__jLLci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.table5:global(.__wab_instance) {
  width: 1002px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  white-space: pre-wrap;
  display: none;
  padding: 16px;
}
