.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-WnknqW4WjGQr);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-H_WoW5DhqLQr);
  font-family: var(--token-KdgPAq02sU76);
  font-size: var(--token-ukL7y76JktUg);
  line-height: var(--token--84kK8rNa6rX);
  outline-style: none;
  border-radius: var(--token-MjESvV0HG4Ni);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-MKGOuMKcBQhd);
  outline-offset: 1px;
  outline-color: var(--token-WnknqW4WjGQr);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-qrrVa994mPqy);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-FYn4UCZKS0Z2);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-jMfmsR2m68kh);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-wSiGa3yM12vY);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-XiWr1NRy3hMV);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-udfqWdDLhKcU);
  font-size: var(--token-2lMG32O-au1U);
  column-gap: var(--token-MKGOuMKcBQhd);
  row-gap: 0px;
  border-radius: var(--token-Y9z5_oeqnBsK);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-2lMG32O-au1U);
  line-height: var(--token-udfqWdDLhKcU);
  column-gap: var(--token-Y9z5_oeqnBsK);
  row-gap: 0px;
  border-radius: var(--token-Y9z5_oeqnBsK);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-dIj6x_B_2TOx);
  line-height: var(--token-S3hHsxr4hIqs);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-dIj6x_B_2TOx);
  line-height: var(--token-S3hHsxr4hIqs);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-gZ2LnZJZBr-a);
  border-radius: var(--token-MjESvV0HG4Ni);
}
.softBackgroundcolor_neutral {
  background: var(--token-fHVhCJs3iWHy);
}
.softBackgroundcolor_muted {
  background: var(--token-7cIJwVRsKx-Q);
}
.softBackgroundcolor_success {
  background: var(--token-kxMu4tvNf96b);
}
.softBackgroundcolor_warning {
  background: var(--token-6lZi2ZXefDbq);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-crTWy2TSrxBF);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-MjESvV0HG4Ni);
  border: 0px solid var(--token-rckkPHl2ZzVQ);
}
.bordercolor_neutral {
  border-color: var(--token-Zi3XeRge2kuT);
}
.bordercolor_muted {
  border-color: var(--token-ud5z_wwHw6fa);
}
.bordercolor_success {
  border-color: var(--token-k4qzFlBhZ4rG);
}
.bordercolor_warning {
  border-color: var(--token-ZqHZGUtPME1J);
}
.bordercolor_errorDestructive {
  border-color: var(--token-3szPBVY8eknh);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-MjESvV0HG4Ni);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-CwfiU5i7Fwx3);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-SnmJX2oJQQhJ);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-vGvcF530sYTE);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__h7XPx {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-MjESvV0HG4Ni) var(--token-j-FebHRYGYb4);
}
.freeBox__h7XPx > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-MjESvV0HG4Ni));
  width: calc(100% + var(--token-MjESvV0HG4Ni));
}
.freeBox__h7XPx > :global(.__wab_flex-container) > *,
.freeBox__h7XPx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h7XPx > :global(.__wab_flex-container) > picture > img,
.freeBox__h7XPx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-MjESvV0HG4Ni);
}
.freeBoxsize_extraSmall__h7XPxTkg6O {
  padding: var(--token-Y9z5_oeqnBsK) var(--token-MjESvV0HG4Ni);
}
.freeBoxsize_small__h7XPxZl0R {
  padding: var(--token-MjESvV0HG4Ni) var(--token-H_WoW5DhqLQr);
}
.freeBoxsize_large__h7XPx9W76A {
  padding-top: var(--token-Y9z5_oeqnBsK);
  padding-bottom: var(--token-Y9z5_oeqnBsK);
}
.freeBoxsize_extraLarge__h7XPxEadCm {
  padding-left: var(--token-j1zXVe128qAC);
  padding-right: var(--token-j1zXVe128qAC);
}
.freeBoxroundedFull__h7XPx8KK8Y {
  padding-right: var(--token-j1zXVe128qAC);
  padding-left: var(--token-j1zXVe128qAC);
}
.freeBox__tliXz {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__tliXzZiMn {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ICE5HizO2H1S);
}
.slotTargetStartcolor_neutral {
  color: var(--token-wlOPvig2Qry0);
}
.slotTargetStartcolor_muted {
  color: var(--token-12KObR1Sz3kw);
}
.slotTargetStartcolor_success {
  color: var(--token-b6SzEsiJH7lv);
}
.slotTargetStartcolor_warning {
  color: var(--token-EbB_0KNLq1CG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-bWGnZXhggtA3);
}
.slotTargetStarttype_soft {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetStarttype_bordered {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-2lMG32O-au1U);
}
.slotTargetStartsize_small {
  font-size: var(--token-2lMG32O-au1U);
}
.slotTargetStartsize_large {
  font-size: var(--token-dIj6x_B_2TOx);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-dIj6x_B_2TOx);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-JxSI5pR6wR8U);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-JxSI5pR6wR8U);
}
.svg__n58NW {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ICE5HizO2H1S);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-wlOPvig2Qry0);
}
.slotTargetLabelcolor_muted {
  color: var(--token-12KObR1Sz3kw);
}
.slotTargetLabelcolor_success {
  color: var(--token-b6SzEsiJH7lv);
}
.slotTargetLabelcolor_warning {
  color: var(--token-EbB_0KNLq1CG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-bWGnZXhggtA3);
}
.slotTargetLabeltype_soft {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetLabeltype_bordered {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-JxSI5pR6wR8U);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-JxSI5pR6wR8U);
}
.text__gQ1Bs {
  white-space: pre;
}
.freeBox__ef1Ax {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__ef1Ax51Ghz {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ICE5HizO2H1S);
}
.slotTargetEndcolor_neutral {
  color: var(--token-wlOPvig2Qry0);
}
.slotTargetEndcolor_muted {
  color: var(--token-12KObR1Sz3kw);
}
.slotTargetEndcolor_success {
  color: var(--token-b6SzEsiJH7lv);
}
.slotTargetEndcolor_warning {
  color: var(--token-EbB_0KNLq1CG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-bWGnZXhggtA3);
}
.slotTargetEndtype_soft {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetEndtype_bordered {
  color: var(--token-OGVboWQLAxM3);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-2lMG32O-au1U);
}
.slotTargetEndsize_small {
  font-size: var(--token-2lMG32O-au1U);
}
.slotTargetEndsize_large {
  font-size: var(--token-dIj6x_B_2TOx);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-dIj6x_B_2TOx);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-_XNK5IPYJvqw);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-Lbp1y491Jpg8);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-7EG2bh_hKYr5);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-ku_HOM7Qeibu);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-JxSI5pR6wR8U);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-JxSI5pR6wR8U);
}
.svg__zRcYr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
